<%- include("../partials/header") %>
<%- include("edit") %>

<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h3><%= event.title %></h3>
        </div>
        <div class="card-body">
            <p>
                <b>Event starts on:</b> <%= event.sdate %> at <%= event.stime %>
                <br>
                <br>
                <b>Event ends on:</b> <%= event.edate %> at <%= event.etime %>
                <br>
                <br>
                <b>Description:</b> <%= event.description %>
            </p>
            <a href="/">Back</a>
        </div>
        <div class="card-footer">
            <button data-toggle="modal" data-target="#editEvent" class="btn btn-warning">Edit</button>
            <!-- <form action="/event/<%= event._id %>?_method=Delete" method="POST" id="delete"> -->
                <!-- <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button> -->
            <!-- </form> -->
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you Sure</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This action can not be un-done, are you sure you want to delete this event
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">cancle</button>
          <form action="/event/<%= event._id %>?_method=Delete" method="POST" id="delete">
            <button type="submit" class="btn btn-danger">Yes, Delete this event</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<%- include("../partials/footer") %>